# DataFrames

Aqui vamos aprender o que seria e como usar os *DataFrames* ,que são elementos principais, que são tabelas e que estas são composições de series.

Começamos importando a biblioteca numpy que é para uso de operações com algebra linear

In [7]:
from numpy.random import randn
import pandas as pd

Veja os metodos da criação de dataframe, veja q o 5,4 serviu para criar numeros aleatorios de 5 linhas para 4 colunas

In [9]:
df = pd.DataFrame(randn(5,4), index=['A','B','C','D','E'], columns='W X Y Z'.split()) 
df

          W         X         Y         Z
A  1.431234 -0.925072 -0.506388  0.492445
B  0.330133 -0.130732 -0.071739 -0.551503
C  1.047447  1.339020  0.015098 -0.262176
D  0.012851  0.336483 -0.421248 -0.281155
E  1.576921 -0.804449  0.006281 -0.625894

Voce pode selecionar os dados pelos seus respectivos indices

In [11]:
df['W']

A    1.431234
B    0.330133
C    1.047447
D    0.012851
E    1.576921
Name: W, dtype: float64

Acima veja que o comportamento acima se assemelha a uma series, para se comportar como um dataframes é necessario de um conjunto mesmo que seja vazio é possivel representar

In [12]:
df[['W']]

          W
A  1.431234
B  0.330133
C  1.047447
D  0.012851
E  1.576921

In [36]:
df['new'] = df['W'] + df['X']
df

          W         X         Y         Z       new
A  1.431234 -0.925072 -0.506388  0.492445  0.506162
B  0.330133 -0.130732 -0.071739 -0.551503  0.199400
C  1.047447  1.339020  0.015098 -0.262176  2.386467
D  0.012851  0.336483 -0.421248 -0.281155  0.349334
E  1.576921 -0.804449  0.006281 -0.625894  0.772471

Agora vejamos o comportamento do drop(lembre-se o axis se refere ao eixo, eixo 0 se refere a linha e o eixo 1 se refere a coluna)

In [37]:
df1 = df.drop('new',axis=1)

porem ao reproduzirmos novamentes, é visto que o a coluna volta a aparecer

In [18]:
df

          W         X         Y         Z       new
A  1.431234 -0.925072 -0.506388  0.492445  0.506162
B  0.330133 -0.130732 -0.071739 -0.551503  0.199400
C  1.047447  1.339020  0.015098 -0.262176  2.386467
D  0.012851  0.336483 -0.421248 -0.281155  0.349334
E  1.576921 -0.804449  0.006281 -0.625894  0.772471

A maioria das funções do pandas e dataframes, elas não alteram o original, elas fazem a operação em uma copia e te entregam uma copia, mas o original é preservado, tem algumas maneiras de se resolver voce passa o valor do que voce quer modificar para uma variavel

In [34]:
df1

          W         X         Y         Z
A  1.431234 -0.925072 -0.506388  0.492445
B  0.330133 -0.130732 -0.071739 -0.551503
C  1.047447  1.339020  0.015098 -0.262176
D  0.012851  0.336483 -0.421248 -0.281155
E  1.576921 -0.804449  0.006281 -0.625894

E uma maneira para alterar realmente o valor original as funçõs quase todas geralmente vem com um metodo para isso com **inplace =True**, veja que se voce rodar na linha abaixo mais de uma vez o erro vai se instaurar, pois removemos new do valor original e quando ele for buscar esse valor novamente ele não vai existir mais e vai dar o erro

In [41]:
df.drop('new',axis=1,inplace=True)
df

KeyError: "['new'] not found in axis"

procurando uma linha usando a função loc

In [42]:
df.loc['A']

W    1.431234
X   -0.925072
Y   -0.506388
Z    0.492445
Name: A, dtype: float64