Aqui vamos analisar as principais operações utilizadas no pandas

In [2]:
import pandas as pd
df1 = pd.DataFrame({'coln1': [1,2,3,4],'col2': [444,555,666,444],'coln3':['abc','def','ghi','xyz']})
df1.head()

   coln1  col2 coln3
0      1   444   abc
1      2   555   def
2      3   666   ghi
3      4   444   xyz

.info() para receber as informações para otimizar a analise e busca de dados

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   coln1   4 non-null      int64
 1   col2    4 non-null      int64
 2   coln3   4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [5]:
df1.memory_usage() #aquié a memoria usada em cada elemento, veja que o index ocupa mais memoria

Index    132
coln1     32
col2      32
coln3     32
dtype: int64

Informações de valores exclusivos

In [6]:
df1["col2"].unique() #esse serve para reunir os valore de uma coluna em um array

array([444, 555, 666])

In [7]:
df1["col2"].nunique() #esse aqui é pra saber o tamanho, no caso o legnth

3

In [8]:
df1["col2"].value_counts()#aqui retorna os numeros e a quantidade de vezes que ele aparece, muito util

col2
444    2
555    1
666    1
Name: count, dtype: int64

**Aplicando funções**

use o metod .apply(nome da função) para executar a função

In [9]:
def comp(x):
    return x**2 + 3

In [10]:
df1["coln1"].apply(comp)

0     4
1     7
2    12
3    19
Name: coln1, dtype: int64

In [12]:
df1["novo calc"] = df1["coln1"].apply(comp)
df1

   coln1  col2 coln3  novo calc
0      1   444   abc          4
1      2   555   def          7
2      3   666   ghi         12
3      4   444   xyz         19

Caso vocce queira realizar funções sem ter o trabalho de criar uma, para que seja usado unica e exclusivamente ali use o lambda

In [15]:
df1["Mais Uma Coluna"] = df1["novo calc"].apply(lambda x: x**2 + 3) #dessa maneira voce não precisa ficar criando uma função para algo que vvoce so vai usar uma unica vez
df1

   coln1  col2 coln3  novo calc  Mais Uma Coluna
0      1   444   abc          4               19
1      2   555   def          7               52
2      3   666   ghi         12              147
3      4   444   xyz         19              364

***funções numericas***

In [16]:
df1["coln1"].sum()

np.int64(10)

In [17]:
df1["coln1"].mean()

np.float64(2.5)

In [18]:
df1["coln1"].product()

np.int64(24)

In [19]:
df1["coln1"].std()

np.float64(1.2909944487358056)

In [20]:
df1["coln1"].max()

np.int64(4)

In [23]:
df1["coln1"].min()

np.int64(1)

In [25]:
df1.sort_values(by="col2") #ordena a tabela inteira de acordo com a coluna que foi passada

   coln1  col2 coln3  novo calc  Mais Uma Coluna
0      1   444   abc          4               19
3      4   444   xyz         19              364
1      2   555   def          7               52
2      3   666   ghi         12              147